#textappo {
  font-family: 'Poppins';
}

#textappo h2 {
  font-size: 22px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 18px;
  text-align: center;
}

#textappo p {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 5px;
}

#appo-index-pic {
  border-radius: 20px;
}
