<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,-0.6),rgba(0,0,0,-0.6)), url(<%= asset_url "banner.jpg"%>)">
  <div class="container">
    <h1>Petsharing</h1>
  </div>

  <!-- <div class="container d-flex">
    <div class="search-bar">
      <div class="box box1">where</div>
      <div class="box box2">species</div>
      <div class="box">owner</div>
    </div>
    <div class="btn btn-primary">Search</div>
  </div> -->

</div>
