<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url "banner"%>)">
  <div class="container">
    <h1>Pets are people too, just like me and you.</h1>
    <div class="search-bar">
      <div class="search-box">where</div>
      <div class="search-box">species</div>
      <div class="search-box">owner</div>
    </div>
  </div>
</div>
