  <!-- Footer -->
  <footer class="footer-container">
    <div class="footer">
    <!-- Copyright -->
      <div class="footer-links">© 2020 Copyright:
        <a href="https://www.lewagon.com"> PaBrJuCa - Le Wagon Batch 490 </a>
      </div>
      <!-- Copyright -->

      <!-- Social buttons -->
      <div class="footer-links">
        <a href="https://github.com/camimurg/book-a-pet"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/lewagongermany/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/lewagongermany"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/LeWagonGermany"><i class="fab fa-twitter"></i></a>
      </div>
      <!-- Social buttons -->
    </div>
  </footer>
  <!-- Footer -->
