    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Book a Pet</a>
        <!-- drop down for avatar -->
        <div class="dropdown show">
          <a class="avatar dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Avatar
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Pets</a>
            <a class="dropdown-item" href="#">Appointments</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </div>
    </nav>

