<section class="information" >
  <div class="img">
    <img src="banner.jpg" alt="this is an esample">
  </div>

  <div class="description">
    <h2>You cannot have an animal but would like to spend some time with them?</h2>
    <h2>Your partner is a stronzo, and would you like to cuddle a better animal beings?</h2>
  </div>
</section>

<section class="information" >
  <div class="img">
    <img src="banner.jpg" alt="this is an esample">
  </div>

  <div class="description">
    <h2>You are in right place!</h2>
    <h2>Choose the pets</h2>
    <h2>Book your experience</h2>
  </div>
</section>
