@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
  text-align: center;
}

.search {
  &-bar {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 700px;
    border-radius: 50px;
  }
  &-box {
    padding: 15px 30px;
    text-align: center;
    &:not(:last-child) {
      border-right: 2px solid black;
    }
  }
}
