.btn-list {
  border-radius: 50%;
  background-color: #659157;
  color: white;
  text-align: center;
  padding: 20px 50px;
  font-size: 18px;
}

.btn p {
  color:white;
}

.btn-app {
  border-radius: 50px;
  background-color: #659157;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 7px 145px;
  font-size: 11px;
}
