.btn-list {
  border-radius: 50%;
  background-color: #659157;
  color: white;
  text-align: center;
  padding: 20px 50px;
  font-size: 18px;
}

.btn p {
  color:white;
}

.btn-app {
  background-color: green;
  color: gray;
  border-color: black;
  border-radius: 50px;
  text-align: center;
  padding: 8px;
  margin: 14px 120px;
  font-size: 11px;
}
