.btn-list {
  border-radius: 50%;
  background-color: #659157;
  color: white;
  text-align: center;
  padding: 20px 50px;
  font-family: 'Poppins', cursive;
  font-size: 18px;
}

.btn p {
  color:white;
}

.btn-app {
  border-radius: 50px;
  background-color: #659157;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 7px 210px;
  font-size: 11px;
  a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-family: 'Poppins', cursive;
  }
  a:hover {
    color: black;
  }
}

.btn-center {
  background-color: #659157;
  color: white;
  border-radius: 50px;
  text-align: center;
  display: table;
  padding: 8px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.btn-center a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: 'Poppins', cursive;
}

.btn-center a:hover {
  color: black;
}




