.container-pets-index{
  display: flex;
  font-family: "Rufina";
  justify-content: center;
  flex-wrap: wrap;

}

.container-main {
  justify-content: center;
  padding: 10px;
  font-family: "Rufina";
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1)
}

.content-container {
  min-height: 100vh;
}

.navbar-container{
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100%;

}
.container-title h2 {
  font-family: "Rufina";
  text-align: center;
}

.container-btn {
    display: flex;
}
