.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-copyright {
  height: 100px;
  background: cadetblue;
  width: 100%;
}
