.navbar-lewagon {
  justify-content: space-between;
  background-color: #F4C35C;
  margin: 0;
  font-family: 'Poppins', cursive;
  border-bottom: 1px solid #649157;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-brand {
  font-family: 'Poppins', cursive;
  font-size: 18px;
  color: #606882;
}
