.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(251, 215, 74, 0.8);
  margin: 0;
  font-family: 'Poppins', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
  font-size: 18px;
  color: #606882;
}
